body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Container{
    background: rgb(11, 0, 75);
    padding: 20px 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 8px 18px rgb(222, 193, 193);

}

h2 {
    text-align: center;
    margin-bottom: 10px;
    color: beige;
}

textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid black;
    outline: none;
    font-size: 14px;
}

textarea :focus {
    border-color: brown;
}

.Counter {
    text-align: right;
    margin-top: 6px;
    font-size: 16;
    color: grey;
}

.limit {
    color: brown;
    font-weight: bold;
}